{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block heading %}Accueil
{% endblock %}

{% block main %}

	{% include "inc/_flash.html.twig" %}

	<section id="accueil" class="container-fluid mx-auto accueil flew-wrap mx-5 my-4 px-5 py-2 text-center">

		<div class="col-6 container-fluid text-center px-3">
			<h2 class="my-3 script display-4">Sublimez votre visage</h2>
			<p class="lh-lg fs-md fst-italic">Bienvenue dans mon univers, un lieu différent et confidentiel qui revisite les codes des lieux de bien-être. J’ai à cœur d’y prodiguer des massages délicats qui vous transporteront dans une parenthèse exquise.</p>
			<h3 class="my-3 fs-3">Qu'est-ce qu'une facialiste ?</h3>
			<p class="lh-lg">Une facialiste est spécialisée dans le massage du visage, elle va travailler les tissus en profondeur par différentes techniques. Le visage réunit environ 50 muscles peauciers qui sont si intimement liés que la peau est impactée par chacun de ces mouvements. Le visage est la base de travail d'un.e facialiste, qui sollicite les muscles, la lymphe et l’ossature faciale. La peau est touchée différemment afin de stimuler le derme pour activer la microcirculation, activer le collagène, l’oxygénation profonde… Ces massages vont cibler les rides d’expression, défroisser les traits, redessiner l’ovale du visage et apporter un Glow instantané.</p>
		</div>

		{% if slides %}
			<div id="carousel1" class="col-5 mx-auto carousel slide carousel-fade" data-bs-ride="carousel">
				<div class="carousel-inner">
					{% for k, slide in slides %}
						{% if k == 0 %}
							{% set first = "active" %}
						{% else %}
							{% set first = "" %}
						{% endif %}
						<div class="carousel-item {{first}}">
							<img src="{{ asset('uploads/images/' ~ slide.imageName) | imagine_filter('resize800') }}" class="d-block w-100 rounded-5" alt="{{slide.titre}}">
						</div>
					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		{% endif %}
	</section>

	<div class="divider my-5 mx-auto"></div>

	<section id="produits" class="container-fluid mx-auto accueil flew-wrap mx-5 my-4 px-5 py-2 text-center">

		<div id="carousel2" class="col-5 mx-auto carousel slide carousel-fade" data-bs-ride="carousel">
			<div class="carousel-inner rounded-5">
				<div class="carousel-item active">
					<img src="{{asset('img/slider09.jpeg') | imagine_filter('resize800')}}" class="d-block w-100" alt="Huiles de massage">
				</div>
				<div class="carousel-item">
					<img src="{{asset('img/slider04.jpeg') | imagine_filter('resize800')}}" class="d-block w-100" alt="Accessoires de massage">
				</div>
				<div class="carousel-item">
					<img src="{{asset('img/slider01.jpeg') | imagine_filter('resize800')}}" class="d-block w-100" alt="Produits de massage">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<div class="col-6 container-fluid text-center px-3">
			<h2 class="my-3 script display-4">Produits & Accessoires</h2>
			<h3 class="my-4 fs-3">Un choix guidé par mes convictions :</h3>
			<p class="lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, amet quia quaerat, accusantium vero aperiam voluptates, nisi explicabo nesciunt dignissimos voluptatem ullam! Minus deserunt reiciendis provident asperiores cupiditate nulla veniam officia similique? Placeat nam laborum, sequi quisquam dicta autem praesentium aliquam incidunt dolores id soluta veritatis dolorem voluptatibus sint voluptatem ratione, unde porro vitae inventore? Perspiciatis neque, quas eveniet obcaecati commodi eligendi culpa possimus et deserunt. Dolore accusantium nisi impedit? Eaque architecto dignissimos mollitia omnis recusandae numquam nihil. Reprehenderit repudiandae, dolores excepturi tenetur reiciendis debitis, voluptates autem cum et dolorum velit, iste non fugiat rem consectetur eveniet necessitatibus fuga! Provident!</p>
		</div>
	</section>

	<section id="articles-home" class="mt-5 px-5 pt-3 pb-5 flex-col flex-wrap">

		<div class="flex">
			<h2 class="mt-5 mb-4 text-center display-3 py-3 px-5 script rounded-pill">Évèvenementiel / Articles à la une</h2>
		</div>

		<div class="container-fluid mx-auto flex flex-wrap p-3">

			{% for article in articles %}
				<div class="custom-card m-5" onclick="window.location='{{path('app_article', {'id':article.id})}}';">
					<div>
						{% if article.imageName %}
							<img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('thumb400') }}" alt="{{ article.titre }}">
						{% endif %}
					</div>
					<div class="w-100 h-100 px-2">
						<h3 class="h5 fw-bolder my-3 text-center fs-sm fw-bold">{{ article.titre|length > 75 ? article.titre|slice(0, 75) ~ '...' : article.titre }}</h3>
						{% if article.categorie %}
							<p class="fs-sm my-2">[{{ article.categorie.titre }}]</p>
						{% endif %}
						<p class="fs-sm fst-italic my-2">{{ article.createdAt|date('d/m/Y') }}</p>
						<p class="text-justify my-2">{{ article.content|length > 125 ? article.content|slice(0, 125) ~ '...' : article.content }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="text-center flex mt-2 mb-5">
			<a class="btn btn-lg btn-light fw-bold" href="{{path('app_articles')}}">Tous les articles</a>
		</div>
	</section>

	<section id="contact" class="container mx-auto flex-wrap">
		<div class="mt-4 mb-5">
			<h2 class="h1 text-center mb-3 fw-bold">Contact</h2>
			<div class="line text-center mb-3"></div>
		</div>
		<div class="flex flex-wrap my-3">
			<div class="col-5 fs-5 p-4 mx-5 text-center d-flex flex-column justify-content-around align-items-center">
				<p class="my-3 h3 fw-bold">Nadège Becquet</p>
				<p class="my-3 fw-bold">160 Rue Grande, 77300 Fontainebleau</p>
				<p class="my-3 fw-bold">Tel : 06 83 49 30 34</p>
				<p class="my-3 fw-bold">Mail : becquet.nadege@orange.fr</p>
				<p class="my-3 fw-bold">
					<a href="https://www.instagram.com/nadegebecquet.facialiste/?hl=fr" title="Instagram" target="_blank"><img class="icon-sm" src={{ asset('img/instagram.png') }} alt="Icone Instagram"></a>
					<span class="green-link">
						<a href="https://www.instagram.com/nadegebecquet.facialiste/?hl=fr" title="Instagram" target="_blank" class="link">@nadegebecquet.facialiste</a>
					</span>
				</p>
				<p>
					<a href="{{path('app_contact')}}" class="custom-btn primary fw-bold fs-lg">Contact</a>
				</p>
			</div>
			<div class="flex col-5 mx-5">
				<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2648.490578896425!2d2.7021185159465877!3d48.408725340215334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5f461b98dac79%3A0xeb72a057c8dcecd2!2s160%20Rue%20Grande%2C%2077300%20Fontainebleau!5e0!3m2!1sen!2sfr!4v1667912148327!5m2!1sen!2sfr" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</section>

	<div class="divider my-5 mx-auto"></div>
  
	<section>
		<h2 class="h1 text-center mt-5">Avis</h2>
		<div class="line text-center"></div>
		<div>
			<script src="https://widget.trustmary.com/sloLy7W_HB"></script>
		</div>
	</section>
{% endblock %}
