{% extends "base.html.twig" %}

{% block title %}
	{{parent()}}
	| Toutes les prestations
{% endblock %}

{% block heading %}
	Massages
{% endblock %}

{% block main %}

	<div class="container-fluid mx-auto my-5 flex flex-wrap">
		{% for massage in massages %}
			<div class="card mx-5 my-3 rounded-5 d-flex flex-column justify-content-between pb-2" style="width: 28rem; height: 38rem;">
				{% if massage.photoName %}
					<img src="{{ vich_uploader_asset(massage, 'photoFile') | imagine_filter('resize600') }}" class="card-img-top w-100 rounded-5" alt="massage">
				{% else %}
					<img src="{{ asset('img/default.jpg') | imagine_filter('resize600') }}" class="card-img-top w-100 rounded-5" alt="massage">
				{% endif %}
				<div class="card-body d-flex flex-column justify-content-between">
					<h3 class="card-title text-center my-2">{{ massage.titre }}</h3>
					<p class="fs-lg fst-italic text-center">{{ massage.legende }}</p>
					<div class="text-prestas mt-2">
						<p class="card-text fs-md mx-2">
							{{ massage.descriptionCourte|length > 100 ? massage.descriptionCourte|slice(0, 100) ~ '...' : massage.descriptionCourte }}
						</p>
						<p class="fs-md card-text text-secondary mx-2">
							Durée
							{% if massage.duree|date('H') < 1 %}
								{{ massage.duree|date('i') }}mn
							{% else %}
								{{ massage.duree|date('H') ~ 'h' ~ massage.duree|date('i') }}
							{% endif %}
						</p>
					</div>
					<div>
						<a href="{{path('app_prestation', {'id':massage.id})}}" class="custom-btn primary">En savoir plus</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
