{% extends "base.html.twig" %}

{% block titile %}
	{{ parent() }}
	|
	{{massage.titre}}
{% endblock %}

{% block heading %}
	{{massage.titre}}
{% endblock %}

{% block main %}

	<div class="container mx-auto m-4">
		<div class="border border-3 rounded-5 py-4 m-3 d-flex text-presta">
			<div class="col mx-4 mb-4">
				{% if massage.photoName %}
					<img src="{{ vich_uploader_asset(massage, 'photoFile') | imagine_filter('resize800') }}" alt="Massage: {{massage.titre}}" class="img-fluid w-100 rounded-5 my-1">
				{% else %}
					<img src="{{asset('img/default.jpg')}}" alt="Massage" class="img-fluid w-100 rounded-5">
				{% endif %}
			</div>
			<div class="col mx-4 d-flex flex-column justify-content-center">
				<h2>{{ massage.titre }}
					<span class="fst-italic">{{ massage.legende ? ' ~ ' ~ massage.legende : ''}}</span>
				</h2>
				<p class="my-4 fs-lg text-secondary">Durée
					{% if massage.duree|date('H') < 1 %}
						{{ massage.duree|date('i') }}mn
					{% else %}
						{{ massage.duree|date('H') ~ 'h' ~ massage.duree|date('i') }}
					{% endif %}
				</p>
				<p class="text-justify fs-md lh-lg">
					{{massage.descriptionLongue|nl2br}}
				</p>
				<p class="mt-4 mb-2 fst-italic">
					Pour l'instant, pour toute prise de rendez-vous :
				</p>
				<div class="d-flex">
					<a href="{{path('app_contact')}}" class="custom-btn primary fw-bold m-1">Contactez-moi</a>
				</div>
			</div>
		</div>
		<div class="mx-4">
			<a href="{{path('app_prestations')}}" class="custom-btn secondary mx-3 my-2">Tous les massages</a>
		</div>
	</div>
{% endblock %}
