{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Créer une Prestation
{% endblock %}

{% block heading %}Créer une Prestation
{% endblock %}

{% block main %}
	<div class="container my-5">
		{{ form_start(form, {'attr': {'onsubmit': 'setFormSubmitting()'}}) }}
		{{ form_widget(form) }}
		<div class="d-flex align-items-center">
			<button class="custom-btn primary me-2">Enregistrer</button>
			{{ form_end(form) }}
			<a href="{{ path('app_massage_index') }}" class="custom-btn tertiary">Retour à l'index</a>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{{asset('scripts/app.js')}}"></script>
{% endblock %}