{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Nouveau mot de passe
{% endblock %}

{% block heading %}
	Nouveau mot de passe
{% endblock %}

{% block main %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="container my-4">
		{{ form_start(requestForm) }}
		{{ form_row(requestForm.email) }}
		<div class="my-2 fst-italic fs-sm">
			Entrez votre email et nous vous enverrons un lien pour générer un nouveau mot de passe.
		</div>

		<button class="custom-btn primary my-3">Envoyer le lien</button>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
