{% extends "base.html.twig" %}

{% block title %}
	{{parent()}}
	| Édition Profil
{% endblock %}

{% block heading %}
	Édition Profil
{% endblock %}

{% block main %}
	<div class="container p-5 border border-2 rounded col-md-4 my-5 mx-auto text-light">
		{{form_start(form)}}
		{{ form_row(form.email) }}
		{{ form_row(form.nom) }}
		{{ form_row(form.prenom, { label: 'Prénom'}) }}
		{{ form_row(form.sexe, { placeholder: none }) }}
		<button class="btn btn-success my-2" type="submit">{{button_label|default('Mettre à jour')}}</button>
		<a href="{{path('app_profil_edit_password')}}" class="btn btn-outline-danger my-2">Modifier le mot de passe</a>
		<a href="{{path('app_profil')}}" class="btn btn-outline-secondary my-2">Retour au profil</a>
		{{form_end(form)}}
	</div>
{% endblock %}
