{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Dashboard
{% endblock %}

{% block heading %}
	Administration
{% endblock %}

{% block main %}

	<div class="container flex flex-wrap mt-4 mb-5">
		<div class="card m-3" style="width: 18rem;height: 24rem;">
			<img src="{{ asset('img/default/massage.jpg') | imagine_filter('thumb200') }}" class="card-img-top w-100" alt="...">
			<div class="card-body">
				<p class="h5 card-title">Prestations</p>
				<p class="card-text">Gestion des des prestations</p>
				<a href="{{ path('app_massage_index') }}" class="custom-btn primary">Afficher</a>
			</div>
		</div>

		<div class="card m-3 " style="width: 18rem;height: 24rem;">
			<img src="{{ asset('img/default/article.jpg') | imagine_filter('thumb200')  }}" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-title h5">Articles</p>
				<p class="card-text">Gestion des articles</p>
				<a href="{{ path('app_article_index') }}" class="custom-btn primary me-1">Afficher</a>
				<a href="{{ path('app_categorie_index') }}" class="custom-btn secondary">Gérer les catégories</a>
			</div>
		</div>

		<div class="card m-3" style="width: 18rem;height: 24rem;">
			<img src="{{ asset('img/default/user.jpg') | imagine_filter('thumb200')  }}" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-title h5">Membres</p>
				<p class="card-text">Gestion des des membres</p>
				<a href="{{ path('app_user_index') }}" class="custom-btn primary">Afficher</a>
			</div>
		</div>

		<div class="card m-3" style="width: 18rem;height: 24rem;">
			<img src="{{ asset('img/default/slider.jpg') }}" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-title h5">Images du carousel</p>
				<p class="card-text">Gestion des des images d'accueil</p>
				<a href="{{ path('app_slider_index') }}" class="custom-btn primary">Afficher</a>
			</div>
		</div>
	</div>

{% endblock %}
