{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Gestion du Carousel
{% endblock %}

{% block heading %}Gestion du Carousel
{% endblock %}

{% block main %}

	{% include "inc/_flash.html.twig" %}

	<div class="container-fluid my-5 mx-auto">
		<table class="table">
			<thead>
				<tr valign="middle">
					<th>Ordre</th>
					<th>Image</th>
					<th>Titre</th>
					<th>Statut</th>
					<th>Date d'ajout</th>
					<th>Date de modification</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for slider in sliders %}
					<tr valign="middle">
						<td>{{ slider.ordre }}</td>
						<td><img src="{{ vich_uploader_asset(slider, 'imageFile') | imagine_filter('thumb200') }}" alt="{{slider.titre}}"></td>
						<td>{{ slider.titre }}</td>
						<td>
							<span class="{{slider.status ? 'bg-success' : 'bg-danger'}} rounded-3 p-2 text-light">{{ slider.status ? 'Activé' : 'Désactivé' }}</span>
						</td>
						<td>{{ slider.createdAt ? slider.createdAt|date('d/m/Y à H:i') : '' }}</td>
						<td>{{ slider.modifiedAt ? slider.modifiedAt|date('d/m/Y à H:i') : '' }}</td>
						<td>
							<a href="{{ path('app_slider_edit', {'id': slider.id}) }}" class="btn btn-outline-secondary">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr valign="middle">
						<td colspan="7" class="fst-italic">Aucune image trouvée.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_slider_new') }}" class="btn btn-outline-success">Ajouter une image</a>
	</div>
{% endblock %}