{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Ajouter une Image
{% endblock %}

{% block heading %}Ajouter une Image
{% endblock %}

{% block main %}
	<div class="container my-5">
		{{ form_start(form, {'attr': {'onsubmit': 'setFormSubmitting()'}}) }}
		{{ form_row(form.ordre) }}
		{{ form_row(form.imageFile) }}
		{{ form_row(form.titre) }}
		<div class="form-check form-switch my-4">
			{{ form_row(form.status, {'label': 'Activer/Désactiver'}) }}
		</div>
		<div class="d-flex align-items-center my-3">
			<button class="custom-btn primary me-2">Enregistrer</button>
			{{ form_end(form) }}
			<a href="{{ path('app_slider_index') }}" class="custom-btn tertiary">Retour à l'index</a>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{{asset('scripts/app.js')}}"></script>
{% endblock %}
