{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Modifier Catégorie :
	{{categorie.titre}}
{% endblock %}

{% block heading %}
	Modifier Catégorie :
	{{categorie.titre}}
{% endblock %}

{% block main %}
	<div class="container my-5">
		{{ form_start(form, {'attr': {'onsubmit': 'setFormSubmitting()'}}) }}
		{{ form_widget(form) }}
		<div class="d-flex align-items-center my-3">
			<button class="custom-btn primary me-2">Enregistrer</button>
			{{ form_end(form) }}
			{{ include('categorie/_delete_form.html.twig') }}
			<a href="{{ path('app_categorie_index') }}" class="custom-btn secondary ms-2">Retour à l'index</a>
		</div>
	</div>

{% endblock %}
{% block scripts %}
	<script src="{{asset('scripts/app.js')}}"></script>
{% endblock %}