{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Gestion des Catégories
{% endblock %}

{% block heading %}
	Gestion des Catégories
{% endblock %}

{% block main %}

	{% include "inc/_flash.html.twig" %}


	<div class="container-fluid my-5 mx-auto">
		<div class="my-3 d-flex justify-content-end align-items-center flex-wrap">
			<a href="{{ path('app_categorie_new') }}" class="custom-btn primary me-2">Ajouter une catégorie</a>
			<a href="{{ path('app_article_index') }}" class="custom-btn secondary">Retour gestion des articles</a>
		</div>
		<table class="table">
			<thead>
				<tr valign="middle">
					<th>Titre</th>
					<th>Date de création</th>
					<th>Date de modifictation</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for categorie in categories %}
					<tr valign="middle">
						<td>{{ categorie.titre }}</td>
						<td>{{ categorie.createdAt ? categorie.createdAt|date('d/m/Y à H:i') : '' }}</td>
						<td>{{ categorie.modifiedAt ? categorie.modifiedAt|date('d/m/Y à H:i') : '' }}</td>
						<td>
							<div class="flex justify-content-end">
								<a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="custom-btn secondary">Modifier</a>
							</div>
						</td>
					</tr>
				{% else %}
					<tr valign="middle">
						<td colspan="4" class="fst-italic">Aucune catégorie trouvée.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
