{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Modifier :
	{{ article.titre }}
{% endblock %}

{% block heading %}Modifier :
	{{ article.titre }}
{% endblock %}

{% block main %}
	<div class="container my-5">
		{{ form_start(form, {'attr': {'onsubmit': 'setFormSubmitting()'}}) }}
		{{ form_row(form.titre) }}
		{{ form_row(form.categorie, {'attr': {'class': 'fst-italic'}}) }}
		{{ form_row(form.imageFile) }}
		<div class="my-2">
			{{ form_errors(form.content) }}
		</div>
		{{ form_widget(form.content)|raw }}
		<div class="my-3 d-flex align-items-center">
			<button class="custom-btn primary me-1">Mettre à jour</button>
			{{ form_end(form) }}
			<div class="me-2">
				{{ include('article/_delete_form.html.twig') }}
			</div>
			<a href="{{ path('app_article_index') }}" class="custom-btn secondary">Retour à l'index</a>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{{asset('scripts/app.js')}}"></script>
{% endblock %}
