<nav id="nav" class="navbar navbar-expand-lg py-0 m-0">
	<div class="container-fluid">
		<a class="navbar-brand" href={{ path('app_home') }}>
			<img id="logo" class="mx-4" src={{ asset('img/logo.png') }} alt="Logo">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse flex" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item mx-4">
					<a class="nav-link active text-light" aria-current="page" href={{ path('app_home') }} title="Accueil">Accueil</a>
				</li>
				<li class="nav-item dropdown mx-4">
					<a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Prestations
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{path('app_prestations')}}">Tous les massages</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						{% for massage in massages %}
							<li>
								<a class="dropdown-item" href="{{path('app_prestation', {'id': massage.id})}}">{{massage.titre|upper}}</a>
							</li>
						{% endfor %}
					</ul>
				</li>
				<li class="nav-item mx-4">
					<a class="nav-link text-light" href="{{path('app_articles')}}" title="Nouveautés">Nouveautés</a>
				</li>
				<li class="nav-item mx-4">
					<a class="nav-link text-light" href={{ path('app_contact') }} title="Contact">Contact</a>
				</li>

				{% if app.user %}
					<li class="nav-item dropdown mx-4">
						<a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-user fa-xl"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{path('app_profil')}}">Mon Profil</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path('app_rendez_vous')}}">Mes rendez-vous</a>
							</li>
							{% if is_granted('ROLE_ADMIN') %}
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="{{path('app_admin')}}">Dashboard</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="{{path('app_massage_index')}}">Gestion Prestations</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_article_index') }}">Gestion Articles</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_user_index') }}">Gestion Membres</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{path('app_slider_index')}}">Gestion Images d'Accueil</a>
								</li>
							{% endif %}
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
							</li>
						</ul>
					</li>
				{% else %}
					<li class="nav-item mx-4">
						<a class="nav-link text-light" href={{ path('app_register') }} title="Inscription">Inscription</a>
					</li>
					<li class="nav-item mx-4">
						<a class="nav-link text-light" href={{ path('app_login') }} title="Connexion">Connexion</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>
</nav>
