{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Modifier Membre :
	{{ user.prenom}}
	{{ user.nom }}
{% endblock %}

{% block heading %}Modifier Membre :
	{{ user.prenom}}
	{{ user.nom }}
{% endblock %}

{% block main %}
	<div class="container my-5">
		{{ form_start(form, {'attr': {'onsubmit': 'setFormSubmitting()'}}) }}
		{{ form_widget(form) }}
		<div class="d-flex align-items-center my-3">
			<button class="custom-btn primary me-2">Mettre à jour</button>
			{{ form_end(form) }}
			{{ include('user/_delete_form.html.twig') }}
			<a href="{{ path('app_user_index') }}" class="btn btn-secondary ms-2">Retour à l'index</a>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{{asset('scripts/app.js')}}"></script>
{% endblock %}