{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Modifier Membre :
	{{ user.prenom}}
	{{ user.nom }}
{% endblock %}

{% block heading %}Modifier Membre :
	{{ user.prenom}}
	{{ user.nom }}
{% endblock %}

{% block main %}
	<div class="container my-5">
		{{ form_start(form, {'attr': {'onsubmit': 'setFormSubmitting()'}}) }}
		{{ form_row(form.email) }}
		{{ form_row(form.nom) }}
		{{ form_row(form.prenom) }}
		{{ form_row(form.sexe, {placeholder: none}) }}
		{{ form_row(form.roles) }}
		<div class="d-flex align-items-center my-3">
			<button class="custom-btn primary me-2">Mettre à jour</button>
			{{ form_end(form) }}
			<div class="me-2">
				{{ include('user/_delete_form.html.twig') }}
			</div>
			<a href="{{ path('app_user_index') }}" class="custom-btn secondary">Retour à l'index</a>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{{asset('scripts/app.js')}}"></script>
{% endblock %}
